/*---Primary Color Classes---*/
.jordy-blue-500 {
  background-color: #13A7E4;
}

.jordy-blue-600 {
  background-color: #0785C2;
}

.jordy-blue-700 {
  background-color: #076B9D;
}

/*---Main---*/
body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
}

a {
  cursor: pointer;
}

.container {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* ---Banner Section--- */
.banner {
  width: 100%;
  background-color: #32B54B;
  display: flex;
}

.banner .wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 12px 0;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.banner-info {
  text-decoration: none;
  color: white;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  min-width: fit-content;
}

.banner-info i {
  font-size: 16px;
}

.banner-divider {
  height: 20px;
  width: 1px;
  background-color: #59CF6F;
}

.banner-language {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  font-size: 13px;
}

.banner-language i {
  font-size: 16px;
}

/* ---Navbar Section--- */
header {
  display: flex;
  width: 100vw;
  flex-direction: column;
  background: #FFF;
  box-shadow: 0px 2px 8px 0px rgba(18, 18, 18, 0.12);
}

.navbar {
  background-color: white;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.nav-item {
  padding: 12px 10px;
  min-width: fit-content;
  text-decoration: none;
  color: #6B7280;
  border-bottom: 2px solid #FFF;
  font-size: 14px;
  transition: 0.3s;
}

.nav-item:hover {
  color: #0785C2;
  border-bottom: 2px solid #0785C2;
  transition: 0.3s;
}

.nav-active {
  color: #0785C2;
  border-bottom: 2px solid #0785C2;
}

.nav-leading {
  width: 100%;
  display: flex;
}

.nav-leading img {
  width: 176px;
}

.nav-trailing {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/*---Button Style---*/
.button {
  color: white;
  border-radius: 10px;
  background: radial-gradient(342.17% 141.42% at 0% 0%, #39FFFF 0%, #0394BF 26.62%, #1BBCEB 69.38%, #00BBB0 100%);
  box-shadow: 0px 1px 2px 0px rgba(30, 44, 77, 0.24), 0px 2px 4px 0px rgba(255, 255, 255, 0.25) inset;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.45px;
  width: max-content;
  text-decoration: none;
}

.button-secondary {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(30, 44, 77, 0.24), 0px 0px 0px 1px rgba(30, 44, 77, 0.20) inset, 0px 2px 4px 0px rgba(255, 255, 255, 0.25) inset;
  color: #030712;
  min-width: fit-content;
}

.label-wrapper {
  display: flex;
  padding: 0px 6px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  color: var(--Gray-50, #F9FAFB);
  text-shadow: 0px 1px 1px rgba(30, 44, 77, 0.24);
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.45px;
}

.button i {
  filter: drop-shadow(0px 1px 1px rgba(30, 44, 77, 0.24));
  font-size: 20px;
}

/*---Footer Section---*/
.footer {
  display: flex;
  padding: 64px 0px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  background: #111827;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.footer-leading {
  width: 100%;
}

.footer-leading img {
  width: 132px;
}

.footer-nav-item {
  min-width: fit-content;
  text-decoration: none;
  padding: 0 12px;
  font-size: 14px;
  color: #9CA3AF;
}

.footer-nav-item:hover {
  color: #13A7E4;
}

.footer-trailing {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
}

.footer-social {
  font-size: 20px;
  color: #6B7280;
  text-decoration: none;
}

.footer-social:hover {
  color: #13A7E4;
}

.footer-bottom {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #4B5563;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
}

.footer-bottom .right {
  max-width: 360px;
  text-align: right;
}

/*---Hero Section---*/
.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
  gap: 48px;
  justify-content: center;
  background: linear-gradient(180deg, rgba(60, 148, 212, 0.90) 0%, rgba(0, 66, 113, 0.95) 100%);
}

.hero img {
  position: absolute;
  z-index: -10;
  height: 100%;
  width: 100%;
  max-height: 800px;
  margin: auto;
  object-fit: cover;

}

.lockup {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
  max-width: 1000px;
  padding: 32px 0px;
  flex-direction: column;
  gap: 20px;
}

.badge {
  display: flex;
  padding: 6px 24px;
  border-radius: 48px;
  backdrop-filter: blur(26px);
  width: max-content;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.80);
  background-color: rgba(255, 255, 255, 0.10);
  border: 1px solid rgba(255, 255, 255, 0.10);
}

.lockup-text {
  color: white;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.68px;
  margin: 0;
  padding: 0;
}

.lockup-information {
  color: rgba(255, 255, 255, 0.60);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.16px;
  max-width: 700px;
  padding: 0;
  margin: 0;
}

/*---Floating Menu---*/
.floating-menu {
  position: absolute;
  bottom: -75px;
  display: flex;
  width: 100%;
  max-width: 1200px;
  border-radius: 32px;
  border: 2px solid var(--Gray-200, #E5E7EB);
  box-shadow: 0px 2px 12px 0px rgba(18, 18, 18, 0.20);
  overflow: hidden;
}

.floating-item {
  display: flex;
  padding: 24px 32px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  transition: 0.3s;
}

.floating-item:hover {
  cursor: pointer;
  background-color: #3DBEF3;
  transition: 0.3s;
}

.floating-item:hover span i {
  opacity: 1;
  transition: 0.3s;
}

.floating-item i {
  font-size: 40px;
  color: white;
}

.floating-item span {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 0;
}

.floating-item span i {
  font-size: 24px;
  opacity: 0.5;
  transition: 0.3s;
}


/*---Products Section---*/
.products {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 120px 0 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.products .section-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.products .section-header h1 {
  color: #030712;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  margin: 0;
  padding: 0;
}

.products .section-header p {
  margin: 0;
  padding: 0;
  color: #9CA3AF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.14px;
}

.product-list {
  height: 240px;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  border: 2px solid var(--Gray-200, #E5E7EB);
  box-shadow: 0px 2px 12px 0px rgba(18, 18, 18, 0.20);
  overflow: hidden;
}

.product-item {
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.product-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item .product-information {
  display: flex;
  padding: 12px 20px;
  flex-direction: column;
  align-items: left;
  gap: 8px;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(8px);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.product-item .product-information span {
  color: #030712;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.product-item .product-information a {
  text-decoration: none;
  color: #0785C2;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  transition: 0.3s;
}

.product-item .product-information a:hover {
  text-decoration: underline;
}

.see-all-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.see-all-divider .divider {
  height: 1px;
  width: 100%;
  background: #E5E7EB;
}

/*---Page Header---*/
.page-header {
  display: flex;
  padding: 128px 0px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #3C94D4 0%, #004271 100%), linear-gradient(180deg, #13A7E4 0%, #0B628D 100%);
}

.page-header div {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
}

.page-header div h1 {
  color: #FFF;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.68px;
  margin: auto;
  padding: 0;
}

.page-header div p {
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.16px;
  max-width: 800px;
  margin: auto;
  padding: 0;
}

/*---About Us Section---*/
.about-us {
  display: flex;
  max-width: 1200px;
  padding: 64px 0px;
  flex-direction: column;
  gap: 24px;
  margin: auto;
}

.company-profile {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  gap: 12px;
  border-radius: 24px;
  border: 1px solid var(--Gray-200, #E5E7EB);
  background: #FFF;
  box-shadow: 0px 1px 6px 0px rgba(18, 18, 18, 0.12);
}

.company-profile div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}

.company-profile div i {
  font-size: 48px;
  color: #0785C2;
}

.company-profile div h3 {
  color: var(--Gray-950, #030712);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  margin: 0;
}

.company-profile div p {
  color: var(--Gray-400, #9CA3AF);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.14px;
}

.company-profile .features {
  padding: 12px;
  gap: 20px;
  flex: 1 0 0;
}

.company-profile .features div {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.company-profile .features div i {
  font-size: 24px;
}

.company-profile .features div p {
  color: var(--Gray-950, #030712);
  margin: 0;
}

.vision-mission {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  max-width: 1200px;
  margin: auto;
}

.vision-mission div {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 24px;
  border: 1px solid var(--Gray-200, #E5E7EB);
  background: #FFF;
  box-shadow: 0px 1px 6px 0px rgba(18, 18, 18, 0.12);
  min-height: 240px;
}

.vision-mission div i {
  font-size: 48px;
  color: #0785C2;
}

.vision-mission div h3 {
  color: var(--Gray-950, #030712);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  margin: 0;
}

.vision-mission div p {
  color: var(--Gray-400, #9CA3AF);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.14px;
  margin: 0;
}

.statistics {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.statistics div {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  border-radius: 24px;
}

.statistics div i {
  font-size: 40px;
  color: #0785C2;
}

.statistics div span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.statistics div span h4 {
  color: var(--Gray-950, #030712);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
  margin: 0;
}

.statistics div span p {
  overflow: hidden;
  color: var(--Gray-500, #6B7280);
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  margin: 0;
}

.ar-ge {
  display: flex;
  overflow: hidden;
  max-width: 1200px;
  padding: 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  border-radius: 32px;
  background: linear-gradient(180deg, rgba(60, 148, 212, 0.90) 0%, rgba(0, 66, 113, 0.90) 100%);
}

.ar-ge img {
  position: absolute;
  z-index: -10;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ar-ge h3 {
  color: var(--Gray-50, #F9FAFB);
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  margin: 0;
}

.ar-ge p {
  max-width: 700px;
  color: rgba(255, 255, 255, 0.40);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.14px;
  margin: 0;
}

